#testimonials{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#colors{
    color: aliceblue;
    background-color: aqua;
}
.title{
    font-size: 60px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px 2px #2563eb;
}
.Subtitle{
    font-size: 26px;
    font-weight: bolder;
    color: aliceblue;
    text-align: center;
    margin-bottom: 10px;
}
.questions{
    padding-top: 100px;
}